{
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "vue/singleline-html-element-content-newline": "off",
    "vue/multiline-html-element-content-newline": "off",
    "vue/max-attributes-per-line": "off",
    "vue/html-self-closing": ["error", {
      "html": {
        "void": "always"
      }
    }],
    "prettier/prettier": [
      "error", {
        "semi": false,
        "singleQuote": true
      }
    ]
  }
}
